<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorithm selections</title>
</head>
<body>
<h1>PID controller for fine adjustment: <a href="/pid_controller">PID</a></h1>
<p>Recommended as a final step in centering presses</p>
<h1>ANN controller for fine adjustment: <a href="/ann_controller">ANN</a></h1>
<p>Recommended as an initial step in centering presses</p>
<h1>ND controller for fine adjustment: <a href="/nd_controller">ND</a></h1>
<p>Recommended as an intermediate step in centering presses</p>
</body> 
</html>